<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='style/style.css')}}" rel="stylesheet" />
    {% block title %}
        <title>{{_('File collection statistic')}}</title>
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            {% block header %}
                <h1>
                    {{_('File collection statistic')}}
                </h1>
            {% endblock %}
        </header>
        <nav class="nav">
            {% block navigation %}
                <a href="{{url_for('home_page')}}">{{_('home')}}</a>
                <a href="{{url_for('collections_list')}}">{{_('collections')}}</a>
            {% endblock %}
        </nav>
        <main class="main">
            {% block main_content %}{% endblock %}
        </main>
        <footer class="footer">Footer</footer>
    </div>
</body>
</html>